<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h2>TO DO LIST</h2>
    <h3>input part</h3>
    <form action="" v-on:submit.prevent>
      <input type="text" v-model="newItem">
      <input type="submit" v-on:click="addItem">
    </form>

    <h3>list part</h3>
    <ul>
      <li v-for="(todo, index) in todos">
        <input type="checkbox" v-model="todo.isDone">
        <span v-bind:class="{ done: todo.isDone }">
          {{ todo.item }}
        </span>
        <button v-on:click="deleteItem">delete</button>
      </li>
    </ul>

    <pre>
      {{ $data }}
    </pre>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>